@model List<ChannelEngine.Core.Models.Product>
@{
    var stockUpdateMessage = TempData["StockUpdateMessage"] as string;
}

<h1>Top 5 Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>GTIN</th>
            <th>Total Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Gtin</td>
                <td>@product.TotalQuantity</td>
            </tr>
        }
    </tbody>
</table>
<hr />

<h1>Updated Product Stock</h1>

@if (!string.IsNullOrEmpty(stockUpdateMessage))
{
    <div class="alert alert-success">
        @stockUpdateMessage
    </div>
}